.home-main{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: calc(100vh - 16.6em);
    min-height: 25em;
    padding: 0 10.3em 8.1em;
}

.presentation{
    display: flex;
    flex-direction: column;
}

.presentation h2{
    font-size: 1.75em;
    letter-spacing: 0.295rem;
    color: #D0D6F9;
}

.presentation h1{
    margin: 1.5rem 0;
    font-size: 9.375em;
    font-weight: 400;
    color: white;
}

.presentation p{
    width: 27.75em;
    font-size: 1.125em;
    line-height: 2rem;
    color: #D0D6F9;
}

.explore-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17.125rem;
    width: 17.125rem;
    min-width: 17.125rem;
    font-size: 2em;
    border-radius: 100vw;
    letter-spacing: 0.125rem;
    background-color: white;
    color: black;
    box-shadow: 0 0 0 0 rgba(250, 250, 250, .1036);
    transition: box-shadow .4s;
}

.explore-link:hover{
    box-shadow: 0 0 0 5.5rem rgba(250, 250, 250, .1036);
}